<?xml version="1.0" ?>
<robot name="autonomous_drone">
  <link name="box_body"> 
    <visual>
      <origin xyz="0 0 .0705" rpy="0 0 0" />
      <geometry>
        <box size=".18 .18 .141" />
      </geometry>
      <material name="Blue">
        <color rgba=".2588 .5294 .9608 .7"/>
      </material>
    </visual>
    
    <collision>
      <origin xyz="0 0 .0705" rpy="0 0 0"/>
      <geometry>
        <box size=".18 .18 .141" />
      </geometry>
    </collision>
  </link>

  <link name="wheel_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius = "0.04" length = ".019" />
      </geometry>
      <material name="Black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius = "0.04" length = ".019" />
      </geometry>
    </collision>
  </link>

  <link name="wheel_left" >
    <visual>
      <origin xyz="0 0 0" rpy="0 -1.5708 0"/>
      <geometry>
        <cylinder radius = "0.04" length = ".019" />
      </geometry>
      <material name="Black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 -1.5708 0"/>
      <geometry>
        <cylinder radius = "0.04" length = ".019" />
      </geometry>
    </collision>
  </link>

  <link name="imu" >
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.021 .016 .005" />
      </geometry>
      <material name="Green">
        <color rgba="0 .3686 .0196 1"/>
      </material>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.021 .016 .005" />
      </geometry>
    </collision>
  </link>

  <link name="lidar" >
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.0556 .0556 .0413" />
      </geometry>
      <material name="Black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.0556 .0556 .0413" />
      </geometry>
    </collision>
  </link>

  <link name="ball_caster" >
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius =".009525" />
      </geometry>
      <material name="Blue">
        <color rgba=".2588 .5294 .9608 1"/>
      </material>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius =".009525" />
      </geometry>
    </collision>
  </link>

  <joint name="right_wheel_joint" type="continuous">
    <origin xyz = "0.103 0.038 0.0195"/>
    <axis xyz="1 0 0" />
    <parent link="box_body"/>
    <child link="wheel_right"/>
  </joint>

  <joint name="left_wheel_joint" type="continuous">
    <origin xyz="-0.103 0.038 0.0195"/>
    <axis xyz="1 0 0" />
    <parent link="box_body"/>
    <child link="wheel_left"/>
  </joint>

  <joint name="imu_joint" type="fixed">
    <origin xyz="-0.0174 0.05225 0.114"/>
    <parent link="box_body"/>
    <child link="imu"/>
  </joint>

  <joint name="lidar_joint" type="fixed">
    <origin xyz="0 0 .16165"/>
    <parent link="box_body"/>
    <child link="lidar"/>
  </joint>

  <joint name="ball_joint" type="fixed">
    <origin xyz="0 -.07 -.01113"/>
    <parent link="box_body"/>
    <child link="ball_caster"/>
  </joint>
</robot>